*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/0/7/073920d6f86b4cff507a8bccbcecbf98bfb550b2
.idea/sonarlint/issuestore/2/3/236d2afdc575b84bfea41840e6782454af50cc54
.idea/sonarlint/issuestore/7/7/77670afdfe1b0b4c12068cde0fd61648075aa80f
.idea/sonarlint/issuestore/8/7/872bd84edad95d9dd33198b89fc5ccecef479092
.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
.idea/sonarlint/issuestore/a/7/a7daab03b316cd5b5f6b6a56e0e5705d21a35d2d
.idea/sonarlint/issuestore/b/d/bd450e81ba093dee7687ec216316a327b5431f68
.idea/sonarlint/issuestore/d/2/d286af33193e9da2f9a8e1e1713abfe4a2a952e4
.idea/sonarlint/issuestore/d/e/de1f3d263b03981864b8ae83cfb25856ec1a01c7
.idea/sonarlint/issuestore/f/b/fb2e78f5147129e603072ed30b2fa70b7f5f7bbe
.idea/sonarlint/issuestore/f/f/ff5139aeeac7897e63de7910d3f501e8ac0c0db8
